{% extends "basic/base.html" %} 

{% load static %}
{% block title %}
About
{% endblock title %}


{% block content %}

<div class="container mt-3">
    <br> <hr>
    <h2 class="text-center">About Us</h2>
    <br> <hr>
    <div class="row container">
        <p class="fs-4 text-center">
            This is a private agro comanay and its registered by govt
            The company Journey in the year of 2023.
            This is one of the fastest growing private Ltd. Company in Banlgadesh 
        </p>
    </div>
    <br> <br>
    <h2 class="text-center">Mission</h2>
    <hr>
    <div class="row container">
        <p class="fs-4 text-center">
            This mission statement is unique for several reasons: it encapsulates Workday’s stance that they are an enterprise software, dedicated to standing out among competitors. Simultaneously, it takes a look at the HR software industry as a whole, making a pointed statement that, ironically, even in the HR space, people are often at the wayside. This is a confident mission statement that not only observes the state of the industry but also supports Workday’s values in tandem.
        </p>
    </div>
</div>


{% endblock content %}