{% load static %}
{% block title %}
 Reset Password Complete
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3 class="alert-heading"> Reset Password completed!!  </h3>
            <hr>
            <div>
                <iframe src="https://giphy.com/embed/eemtXz7QeUzedp1Hsq" width="200" height="200" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
            </div>
        </div>
    </div>
</div>


{% endblock content %}